BizTalk Benchmark Wizard/BizTalk Benchmark Wizard/Service References/HighScoreService/supplyhs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mickeh.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mickeh.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mickeh.net/">
      <s:element name="Supply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfMessages" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="config" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SupplySoapIn">
    <wsdl:part name="parameters" element="tns:Supply" />
  </wsdl:message>
  <wsdl:message name="SupplySoapOut">
    <wsdl:part name="parameters" element="tns:SupplyResponse" />
  </wsdl:message>
  <wsdl:message name="SupplyHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="noOfMessages" type="s:string" />
    <wsdl:part name="date" type="s:string" />
    <wsdl:part name="config" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SupplyHttpGetOut" />
  <wsdl:message name="SupplyHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="noOfMessages" type="s:string" />
    <wsdl:part name="date" type="s:string" />
    <wsdl:part name="config" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SupplyHttpPostOut" />
  <wsdl:portType name="SupplyHSSoap">
    <wsdl:operation name="Supply">
      <wsdl:input message="tns:SupplySoapIn" />
      <wsdl:output message="tns:SupplySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SupplyHSHttpGet">
    <wsdl:operation name="Supply">
      <wsdl:input message="tns:SupplyHttpGetIn" />
      <wsdl:output message="tns:SupplyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SupplyHSHttpPost">
    <wsdl:operation name="Supply">
      <wsdl:input message="tns:SupplyHttpPostIn" />
      <wsdl:output message="tns:SupplyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupplyHSSoap" type="tns:SupplyHSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Supply">
      <soap:operation soapAction="http://mickeh.net/Supply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplyHSSoap12" type="tns:SupplyHSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Supply">
      <soap12:operation soapAction="http://mickeh.net/Supply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplyHSHttpGet" type="tns:SupplyHSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Supply">
      <http:operation location="/Supply" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupplyHSHttpPost" type="tns:SupplyHSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Supply">
      <http:operation location="/Supply" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplyHS">
    <wsdl:port name="SupplyHSSoap" binding="tns:SupplyHSSoap">
      <soap:address location="http://blogical.se/bbw/supplyhs.asmx" />
    </wsdl:port>
    <wsdl:port name="SupplyHSSoap12" binding="tns:SupplyHSSoap12">
      <soap12:address location="http://blogical.se/bbw/supplyhs.asmx" />
    </wsdl:port>
    <wsdl:port name="SupplyHSHttpGet" binding="tns:SupplyHSHttpGet">
      <http:address location="http://blogical.se/bbw/supplyhs.asmx" />
    </wsdl:port>
    <wsdl:port name="SupplyHSHttpPost" binding="tns:SupplyHSHttpPost">
      <http:address location="http://blogical.se/bbw/supplyhs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>