BizTalk Benchmark Wizard - VS2010/AppFabric Artefacts/BizTalkBenchmarkWizard/Service References/IndigoServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndigoService" />
  <xs:element name="ConsumeMessage2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndigoService" minOccurs="0" name="msg" nillable="true" type="q1:SmallMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumeMessage2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>